/* inspired by http://cssmenumaker.com/menu/flat-accordion-menu */
.cssmenu,
.cssmenu > ul,
.cssmenu > ul li,
.cssmenu > ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cssmenu > ul li:nth-child(even) a {
    background-color: $menubar_even;
}

.cssmenu > ul li:nth-child(odd) a {
    background-color: $menubar_odd;
}

.cssmenu {
  color: #ffffff;
}

.align-right {
  float: right;
}
.cssmenu > ul li > a {
    padding: 1.7em 1.5em;
    cursor: pointer;
    z-index: 2;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}

.cssmenu > ul li > a img {
    margin-right:5px;
}

.cssmenu > ul > li.has-sub > a:after {
    position: absolute;
    right: 26px;
    top: 29px;
    z-index: 5;
    display: block;
    height: 10px;
    width: 2px;
    background: #ffffff;
    content: "";
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
.cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  right: 22px;
  top: 33px;
  display: block;
  width: 10px;
  height: 2px;
  background: #ffffff;
  content: "";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.cssmenu > ul > li.has-sub.open > a:after,
.cssmenu > ul > li.has-sub.open > a:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.block-content {
    color: black;
    display: none;
    padding: 2em 3.5em;
    font-size: 0.9em;
    line-height:1.7em;
    p {
        margin:0.4em 0;
    }
}