$red: #f34747;
$purple: #9647f3;
$yellow: #f3b847;
$blue: #47b7f3;
$pink: #f3476d;
$card_back: #f7f5f5;
$card_detail: #e8e8e8;
$menubar_odd: black;
$menubar_even: #696969;
$text_light: #696969;
$footer: #f7f5f5;