@import 'normalize';
@import 'colors';
@import 'text-styles';
@import 'accordion';

* {
    box-sizing: border-box;    
}

body {
    //background: red url(../images/sismomx-desktop-v5.png) no-repeat -84px -91px;
    color:black;
    font-family: 'Roboto', sans-serif;
}
h2 {
    margin:0;
}
p {
    font-weight:300;
}
.bg {
    width: 100%;
    height: 360px;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.5);
}
.main-header{
    font-size: 0.75em;
    width: 100%;
}
.status {
    background-color: $yellow;
    display: flex;
    padding:1.4em 1.9em;    
}
.status-time {
    margin-right:20px;
}
.overlay-hero-content {
    color:white;
    display:flex;
    flex-flow: row wrap;
    height:355px;
    justify-content:flex-start;
    margin-top:-360px;
    padding:4.3em 4.3em 3em;
    width:100%;
    z-index:5;
}

.hero-info {
    align-self: flex-end;
    font-size: 1.5em;
    margin-left: 7em;
    flex-basis: 60%;
    h1 {
        margin:0 0 0.3em;
    }
    h4{
        color:$card_detail;
        font-size:0.9em;
        font-weight: 200;
        margin:0;
    }
}
.logo {
    align-self: flex-start;
    margin-left: 10px;

}

.intro {
    background-color: $pink;
    color:white;
    font-size: 2em;
    font-weight: 300;
    line-height: 1.4em;
    padding: 1.6em 15% 2em 12em;
}

.block {
    padding:2em 3.5em;
}

.cards-container {
    display:flex;
    list-style: none;
    justify-content: space-between;
    margin-top:2em;
    padding:0;
    flex-flow: row wrap;
}
.card {
    background-color:$card_back;
    border-radius:5px;
    box-shadow: 0 0 10px #c1c1c1;
    flex-basis:23%;  
    overflow: hidden;
    transition: transform 0.2s ease;
    &:hover {
        transform: scale(1.03) translate(0, -7px);
    }
}

.card-image {
    align-items: center;
    display: flex;
    justify-content: center;
    height:175px;
}

.red .card-image {
    background-color: $red;
}

.yellow .card-image {
    background-color: $yellow;
}

.blue .card-image {
    background-color: $blue;
}

.pink .card-image {
    background-color: $pink;
}

.purple .card-image {
    background-color: $purple;
}

.photo .card-image {
    background-color: white;
}

.element-info {
    font-size:0.9em;
    min-height:130px;
    padding:0.3em 1.1em;
    h3 {
        margin-bottom:0.2em;
    }
    p{
        font-size:0.9em;
        margin: 0;
        line-height:1.6em;
    }
}
.extra-info {
    align-items:center;
    background-color:$card_detail;
    display: flex;
    font-size: 0.8em;
    justify-content: space-between;
    padding:0.4em 7%;
}
footer {
    background-color: $footer;
    display: flex;
    font-size:0.9em;
    justify-content: space-between;
    padding:3em 1.8em;
}
.social-links {
    ul {
        list-style: none;
        padding: none;
    }
    li {
        display: inline-block;
        padding: 0 0.3em;
    }
    a {
        color:black;
        text-decoration: none;
    }
    a:hover {
        color: $pink;
    }
}

@media screen and (max-width: 768px) {
    .card {
        flex-direction: column;
        flex-basis:47%;
        margin-bottom:2em;
    }
    .hero-info {
        flex-basis: 100%;
        margin-left:0;
        text-align: center;
    }
    .intro {
        padding: 1.6em 1em;
        text-align: center;
    }
    .logo {
        margin:0 auto;
    }
}
@media screen and (max-width: 520px) {
    .card {
        flex-direction: column;
        flex-basis:95%;
    }
    .hero-info {
        flex-basis: 70%;
    }
}